@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap");
body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.nav {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .nav .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1400px) {
  .nav .container {
    margin: 0 auto;
    width: 1140px;
  }
}

.nav .userIcon,
.nav .cartIconWrap {
  display: none;
}

@media (min-width: 768px) {
  .nav .userIcon,
  .nav .cartIconWrap {
    display: inline;
  }
  .nav .userIcon {
    margin-left: 25px;
    margin-right: 42px;
  }
}

.nav .searchIcon {
  margin-left: 41px;
}

.nav .cartIconWrap {
  position: relative;
}

.nav .cartIconWrap span {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: white;
  background: #F16D7F;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: -19px;
  right: -7px;
  font-size: 12px;
  line-height: 19px;
}

.header {
  min-height: 363px;
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header > div {
    width: 50%;
  }
}

.header .headerLeft {
  display: none;
}

@media (min-width: 768px) {
  .header .headerLeft {
    display: block;
  }
}

.header .headerRight {
  color: #222222;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .header .headerRight {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header .headerPromoWrap {
  border-left: 12px solid #F16D7F;
  padding-left: 15px;
  height: 61px;
}

.header .headerPromoWrap div:first-child {
  font-weight: 900;
  font-size: 38px;
  line-height: 32px;
}

.header .headerPromoWrap div:last-child {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 9px;
}

.header .headerPromoWrap span {
  color: #F16D7F;
}

@media (min-width: 768px) {
  .header .headerPromoWrap {
    height: 78px;
  }
  .header .headerPromoWrap div:first-child {
    font-size: 44px;
    line-height: 35px;
  }
  .header .headerPromoWrap div:last-child {
    font-size: 24px;
    line-height: 40px;
  }
}

.header .brandDark {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(124, 120, 120, 0.7);
}

@media (min-width: 1400px) {
  .header .brandDark:hover > .headerRight {
    display: block;
  }
}

.header .brandDark .menu {
  width: 232px;
  height: inherit;
  background: white;
  margin-left: auto;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 0;
  display: none;
}

@media (min-width: 1400px) {
  .header .brandDark .menu:hover > .headerRight {
    display: block;
  }
}

.header .brandDark .menu .menuUnit {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.header .brandDark .menu .menuItems {
  list-style-type: none;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header .headerImg {
    width: 100%;
  }
}

.offers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 247px 247px 247px 111px;
      grid-template-rows: 247px 247px 247px 111px;
  row-gap: 32px;
  padding: 64px 16px;
}

@media (min-width: 768px) {
  .offers {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 167px 116px;
        grid-template-rows: 167px 116px;
    gap: 20px;
  }
}

.offers img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.offers > div {
  position: relative;
}

.offers .offerTitle {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offers .offerTitleBottom {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

@media (min-width: 768px) {
  .offers .offerAccesories {
    grid-column: 1/-1;
  }
}

.fetured {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;
}

@media (min-width: 640px) {
  .fetured {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (min-width: 1000px) {
  .fetured {
    padding-left: 0;
    padding-right: 0;
  }
}

.fetured h2 {
  margin-top: 0;
  margin-bottom: 3px;
  text-align: center;
  color: #222222;
}

.fetured .feturedItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 16px;
}

.fetured .feturedItems img {
  width: 100%;
}

@media (min-width: 640px) {
  .fetured .feturedItems {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
}

@media (min-width: 1000px) {
  .fetured .feturedItems {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.fetured .feturedTitle {
  text-align: center;
  color: #9F9F9F;
  margin-bottom: 64px;
}

.fetured .feturedItem {
  background: #F8F8F8;
}

.fetured .feturedData {
  padding: 23px 16px 20px;
}

.fetured .feturedName {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.fetured .feturedText {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.fetured .feturedPrice {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.fetured .feturedButton {
  border: 1px solid #FF6A6A;
  margin-top: 40px;
  padding: 15px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: none;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  font-family: inherit;
}

.fetured .feturedButton:hover {
  color: white;
  background: #FF6A6A;
}

.product {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 96px;
  padding-top: 65px;
}

@media (min-width: 700px) {
  .product {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (min-width: 1000px) {
  .product {
    padding-left: 0;
    padding-right: 0;
  }
}

.product .productItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 16px;
}

.product .productItems img {
  width: 100%;
}

@media (min-width: 768px) {
  .product .productItems {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    row-gap: 18px;
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
}

@media (min-width: 1400px) {
  .product .productItems {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.product .productTitle {
  text-align: center;
  color: #9F9F9F;
  margin-bottom: 64px;
}

.product .productItem {
  background: #F8F8F8;
}

.product .productItem:last-child {
  display: none;
}

@media (min-width: 768px) {
  .product .productItem:last-child {
    display: block;
  }
}

.product .productData {
  padding: 23px 16px 20px;
}

.product .productName {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product .productText {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product .productPrice {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.pagination {
  width: 284px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid #EBEBEB;
  margin-top: 48px;
  margin-bottom: 96px;
  padding: 13px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
}

.pagination a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
}

.pagination a:hover {
  color: #EF5B70;
}

.newArrivals {
  background: #F8F3F4;
  min-height: 148px;
}

.newArrivals h1 {
  margin: 24px 0 32px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.newArrivals .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
}

.newArrivals nav a,
.newArrivals nav span {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.newArrivals nav a {
  text-decoration: none;
}

.newArrivals nav span {
  margin: 0 3px;
}

.newArrivals nav a:last-of-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

@media (min-width: 768px) {
  .newArrivals h1 {
    margin: 0;
  }
  .newArrivals .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .newArrivals .container {
    padding: 0 16px;
  }
}

.filters .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1400px) {
  .filters .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.filters .filtersLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 24px 8px 32px;
  position: relative;
}

.filters .filtersLeft span {
  display: none;
  position: relative;
  z-index: 2;
}

.filters .filtersLeft img {
  position: relative;
  z-index: 2;
}

.filters .filtersLeft:hover .catalog {
  display: block;
}

@media (min-width: 768px) {
  .filters .filtersLeft span {
    display: block;
    padding-right: 11px;
  }
  .filters .filtersLeft img {
    width: 15px;
    height: 10px;
    position: relative;
    top: 4px;
  }
}

.filters .filtersRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6F6E6E;
  padding: 26px 8px 41px;
}

.filters .filtersRight img {
  position: relative;
  bottom: 2px;
  padding-left: 9px;
}

.filters .filtersRight > div:not(:last-child) {
  padding-right: 14px;
}

@media (min-width: 375px) {
  .filters .filtersRight > div:not(:last-child) {
    padding-right: 24px;
  }
}

@media (min-width: 1400px) {
  .filters .filtersRight {
    margin-left: 304px;
  }
  .filters .filtersRight > div:not(:last-child) {
    padding-right: 28px;
  }
}

@media (min-width: 768px) {
  .filters .filtersLeft
.filtersRight {
    padding: 24px 16px 40px;
  }
}

@media (min-width: 1400px) {
  .filters .filtersLeft
.filtersRight {
    padding: 51px 0 64px;
  }
}

.filters .filtersLeft:hover span
.filtersLeft:hover .filtersLeftImg {
  display: block;
}

.filters .catalog {
  display: none;
  position: absolute;
  width: 360px;
  height: 531px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  left: 0;
  top: 0;
  padding: 46px 16px 16px 16px;
  z-index: 1;
}

.filters .catalog .catalog li {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}

.filters .catalogTitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.slider {
  min-height: 624px;
  border: 1px solid #eaeaea;
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1400px) {
  .slider {
    min-height: 777px;
  }
}

.slider .sliderLeftArrow,
.slider .sliderRightArrow {
  background-color: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  width: 47px;
  height: 47px;
  position: absolute;
  top: calc(50% - 47px / 2);
  cursor: pointer;
}

.slider .sliderLeftArrow {
  left: 0;
  background-image: url(../lesson003/img/sliderLeft.svg);
}

.slider .sliderRightArrow {
  right: 0;
  background-image: url(../lesson003/img/sliderRight.svg);
}

.slider .sliderRightArrow:hover {
  background-image: url(../lesson003/img/sliderRightRed.svg);
}

.slider .sliderImg {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.addToCart {
  background: #FFFFFF;
  padding-top: 65px;
  border: 1px solid #EAEAEA;
}

.addToCart .addToCartUp {
  position: relative;
  display: inline-block;
  text-align: center;
}

.addToCart .addToCartUp .addToCartWhat {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.addToCart .addToCartUp .addToCartTitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding-top: 24px;
}

.addToCart .addToCartUp .addToCartText {
  font-weight: 300;
  font-size: 14px;
  line-height: 143.1%;
  color: #5E5E5E;
  padding: 32px 35px;
}

@media (min-width: 768px) {
  .addToCart .addToCartUp .addToCartText {
    padding-top: 49px;
    padding-right: 106px;
    padding-left: 106px;
  }
}

@media (min-width: 1400px) {
  .addToCart .addToCartUp .addToCartText {
    padding-right: 293px;
    padding-left: 293px;
  }
}

.addToCart .addToCartUp .addToCartPrice {
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #EF5B70;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .addToCart .addToCartUp .addToCartPrice {
    padding-bottom: 65px;
  }
}

.addToCart .addToCartUp hr {
  width: 175px;
  text-align: center;
  border-bottom: 1px solid #EAEAEA;
}

@media (min-width: 768px) {
  .addToCart .addToCartUp hr {
    width: 641px;
  }
}

.addToCart .addToCartFilters {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #6F6E6E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
}

.addToCart .addToCartButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.addToCart .addToCartButton button {
  border: 1px solid #FF6A6A;
  height: 48px;
  width: 211px;
  background: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addToCart .addToCartButton img {
  width: 26px;
  height: 24px;
}

.shopingCart {
  background: #F8F3F4;
  min-height: 148px;
}

.shopingCart h1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin: 0;
}

.shopingCart .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: inherit;
}

@media (min-width: 768px) {
  .shopingCart .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.cart {
  padding: 0 8px;
  margin-top: 39px;
  margin-bottom: 96px;
}

@media (min-width: 768px) and (max-width: 1399px) {
  .cart {
    margin-bottom: 129px;
  }
}

@media (min-width: 1400px) {
  .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 340px;
  }
}

@media (min-width: 1400px) {
  .cart .cartsLeft {
    margin-bottom: 128px;
  }
}

.cart .cartItem {
  -webkit-filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
  background: white;
  position: relative;
}

@media (min-width: 1400px) {
  .cart .cartItem {
    width: 630px;
    margin-top: 96px;
  }
}

.cart .cartItem::before {
  content: '';
  width: 10px;
  height: 11px;
  display: block;
  position: absolute;
  right: 12px;
  top: 17px;
  background: no-repeat url("img/closeCart.svg");
  background-size: 100%;
}

.cart .cartItem:not(:first-child) {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .cart .cartItem:not(:first-child) {
    margin-top: 40px;
  }
}

.cart .cartItem .cartItemInside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .cartImg {
  width: 143px;
  height: 188px;
}

.cart .cartInfo {
  padding: 13px 17px;
}

.cart .cartName {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 25px;
}

@media (max-width: 374px) {
  .cart .cartName {
    padding-right: 20px;
  }
}

.cart .cartPrice,
.cart .cartColor,
.cart .cartSize,
.cart .cartQuantity {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #575757;
}

.cart .cartPrice span,
.cart .cartColor span,
.cart .cartSize span,
.cart .cartQuantity span {
  color: #F16D7F;
}

.cart .cartQuantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .cartQuantity input {
  border: 1px solid #EAEAEA;
  width: 24px;
  height: 15px;
  font-size: 10px;
  line-height: 12px;
  color: #656565;
  margin-left: 25px;
  text-align: center;
}

.cart .cartLeftButtons {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .cart .cartLeftButtons {
    padding-top: 62px;
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  .cart .cartLeftButtons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1400px) {
  .cart .cartLeftButtons {
    padding-top: 72px;
  }
}

.cart .cartLeftButtons button {
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  width: 175px;
  height: 33px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  font-family: inherit;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .cart .cartLeftButtons button {
    width: 225px;
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}

.cart .cartRight {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1399px) {
  .cart .cartRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.cart .cartRightUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .cartRightUpForm {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 49px;
}

.cart .cartRightUpForm input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #A4A4A4;
  min-width: 320px;
  height: 45px;
  display: block;
  margin-top: 20px;
}

.cart .cartRightUpForm button {
  border: 1px solid #A4A4A4;
  width: 100px;
  height: 35px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-top: 24px;
}

.cart .cartRightBottom {
  background: #F5F3F3;
  margin-top: 48px;
  margin-bottom: 50px;
  font-family: inherit;
  text-align: right;
  padding-top: 39px;
  padding-right: 40px;
  padding-bottom: 42px;
}

.cart .cartRightBottom hr {
  background: #E2E2E2;
  margin-top: 0;
  margin-bottom: 17px;
  margin-left: 43px;
}

@media (min-width: 768px) and (max-width: 1399px) {
  .cart .cartRightBottom {
    margin-top: 80px;
    width: 360px;
  }
}

.cart .cartRightBottom .cartRightSubTotal {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart .cartRightBottom .cartRightSubTotal span {
  margin-left: 15px;
}

.cart .cartRightBottom .cartRightGrandTotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-top: 12px;
  margin-bottom: 21px;
}

.cart .cartRightBottom .cartRightGrandTotal span {
  margin-left: 15px;
  color: #F16D7F;
  font-weight: 400;
}

.cart .cartRightBottom button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 237px;
  height: 50px;
  background: #F16D7F;
  border: 1px solid #FF6A6A;
}

.services {
  background: #222224;
  padding-top: 48px;
  padding-bottom: 81px;
  padding-left: 14px;
  padding-right: 14px;
}

.services .services, .services .container {
  display: -ms-grid;
  display: grid;
  gap: 46px;
}

.services .serviceBox {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .serviceTitle {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 27px;
  margin-bottom: 15px;
}

.services .serviceText {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  max-width: 340px;
}

@media (min-width: 1200px) {
  .services .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 46px;
  }
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.subscribe {
  background: url(img/subscribe.jpg) no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 109px;
}

.subscribe .subscribeLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribeLeftText {
  margin-top: 30px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #222224;
  max-width: 330px;
}

.subscribe .subscribeRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}

.subscribe .subscribeRightTitle,
.subscribe .subscribeRightText {
  text-align: center;
  color: #222224;
  max-width: 271px;
}

.subscribe .subscribeRightTitle {
  font-size: 24px;
  line-height: 37px;
  font-weight: 700;
}

.subscribe .subscribeRightText {
  font-size: 14px;
  line-height: 2px;
  font-weight: 400;
  margin-bottom: 22px;
}

.subscribe .subscribeForm {
  height: 47px;
}

.subscribe .subscribeRight input {
  height: inherit;
  background: #E1E1E1;
  border: none;
  padding: 6px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  float: left;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  width: 185px;
}

.subscribe .subscribeRight button {
  height: inherit;
  background: #F16D7F;
  border: none;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 0 17px;
}

@media (min-width: 1100px) {
  .subscribe .container {
    margin: 0 auto;
    width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer {
  background: #222224;
  padding: 43px 20px 9px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footerLeft {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .footer .footerLeft {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer {
    padding: 24px 32px;
  }
}

@media (min-width: 1400px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}
/*# sourceMappingURL=style01.css.map */